*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.imgBodycard {
  width:100%;
   height: 500px;
   object-fit: cover;
}

.container_ico{
  padding-block: 10px;

  & img {
     padding-inline: 10px;
  } 
}

.icoSave {
  transform: translate(192px);
}

.textLike {
  padding-block: 10px ;
  font-family: Roboto sans-serif;
  font-size: 14px;
  max-width: 230px;
}

span {
  font-weight: bold;
  font-family: Roboto;
  font-size: 14px;
}

.photoProfil {
  width: 20px;
  border-radius: 50%;
}

.containerlike {
  display: flex;
  margin-left: 11px;
  padding-bottom: 5px;
}